html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    text-align: center;
    background: url(../images/forest.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: over;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8%;
}
